<header class="flex justify-between items-center">
  <div class ="flex items-center gap-8">
      <a href="/" class="navlink text-black dark:text-white">Home</a>
      <a href="/blog" class="navlink text-black dark:text-white">Blog</a>
      <a href="https://github.com/jejikeh"class="navlink text-black dark:text-white">Projects</a>
  </div>      
</header>