---
title: Yauheni Lantsau.
layout: base.njk
---

<div style="padding-bottom:24px;">
<img class="rounded-full w-64" src="/assets/avatar.png">
</div>
<h1>{{title}}</h1>
<h2>Sample text</h2>
<p>
    Sample text
<br></br>
    Sample text
</p>