---
title: Евгений Ланцев
layout: base.njk
pagination :
    data: collections.post
    size: 6
    reverse: true
    alias: posts
---

<div style="padding-bottom:24px;">
<h1>{{title}}</h1>

<h2>
    Геймдев разработчик или бекенд разработчик.
</h2>

<p>
После того, как вы посмотрите мой <a href="https://github.com/jejikeh">гитхаб</a>, 
можете написать мне на <a href="https://mail.google.com/mail/u/0/?fs=1&to=jejikeh@gmail.com&su=SUBJECT&body=BODY&tf=cm">почту</a>, 
в <a href="https://t.me/jejikeh">тг</a> или <a href="https://www.linkedin.com/in/jejikehx/" >линкедин</a>.
</p>
</div>