<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/main.bundle.css">
        <script src="/assets/main.bundle.js" defer></script>
        <title>{{ title }}</title>
    </head>
    <body class="justify-center items-left p-8 gap-8 mx-2 dark:bg-black">
        <main class="container text-black dark:text-white">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>
